<div *ngIf="forecast">
  <div>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold">C</mat-button-toggle>
      <mat-button-toggle value="italic">F</mat-button-toggle>
    </mat-button-toggle-group>
</div>
  <div>
    {{forecast.weather[0].main}}
  </div>
  <div>
    {{forecast.weather[0].description}}
  </div>
  <div>
    {{forecast.main.temp}}
  </div>
  <div>
    {{forecast.main.pressure}}
  </div>
  <div>
    {{forecast.main.humidity}}
  </div>
  <div>
    {{forecast.wind.speed}} m/s, {{forecast.wind.deg}}
  </div>
  <div>
    {{forecast.clouds.all}}%
  </div>
</div>