.temp {
  font-size: 9em;
  font-weight: 100;
}

.top-part {
  margin-top: 70px;
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  justify-content: space-between;
}
.center-part {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom-part {
  margin-top: 15%;
  display: flex;
  justify-content: space-around;
}